@{
    ViewData["Title"] = "Home";
}



<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading panel-head">Welcome to Gamerce</div>
    
        <div class="panel-body">
        <p>Buy and sell a collection of games</p>
          </div>  
        </div>
    </div>
    

