@{
    ViewData["Title"] = "Home";
}



<div class="row">
    <div class="col-lg-12">
        <h2>Welcome to Gamerce</h2>
        <ul>
            <li>Buy and sell a collection of games</li>
            
        </ul>
    </div>
    
</div>
