@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "New games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">New games</div>

    @await Html.PartialAsync("_ProductsLayout")

    
</div>
