@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "Nintendo 3DS games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Nintendo 3DS games</div>

    @await Html.PartialAsync("_ProductsLayout")

    
</div>