@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "Nintendo Wii U games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Nintendo Wii U games</div>

    @await Html.PartialAsync("_ProductsLayout")

    
</div>
