@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "PC games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">PC games</div>

    @await Html.PartialAsync("_ProductsLayout")

    
</div>