@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "PS3 games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">PS3 games</div>

    @await Html.PartialAsync("_ProductsLayout")

    
</div>
