@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "Used games";
}

<<div class="panel panel-primary">
    <div class="panel-heading panel-head">Used games</div>

    @await Html.PartialAsync("_ProductsLayout")

    <div class="panel-footer"></div>
</div>