@model IEnumerable<Gamerce.Models.Product>

@{
    ViewData["Title"] = "XBOX 360 games";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">XBOX 360 games</div>

    @await Html.PartialAsync("_ProductsLayout")

    <div class="panel-footer"></div>
</div>