@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

@inject UserManager<ApplicationUser> UserManager

    <div class="panel panel-primary">
        <div class="panel-heading panel-head">@UserManager.GetUserName(User)'s account</div>
        <div class="panel-body">

    <h4>Edit your profile or password</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div></div></div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
